!!! 5
%html
  %head
    %title Legitimate Business Syndicate
    %link{href: 'index.css', rel: 'stylesheet', type: 'text/css'}
  %body
    #content
      #main_title
        %h1 DEF CON Capture the Flag
        %h3 by
        %h2 Legitimate Business Syndicate

      %nav#marquee
        %ol
          %li#y2013
            %a{href: '2013/'} 
              .caption 2013
          %li#y2014
            %a{href: '2014/'} 
              .caption 2014
          %li#y2015
            .caption 2015
