!!! 5
%html
  %head
    %title threez
    %link{rel: 'stylesheet', href: 'style.css'}
  %body
    %script{type: 'text/javascript', src: 'jquery-2.1.1.min.js'}
    %script{type: 'text/javascript', src: 'three.min.js'}
    %script{type: 'text/javascript', src: 'ColladaLoader.js'}
    %script{type: 'text/javascript', src: 'demo.js'}
    #main_column
      #title_zone
        %h1 DEF CON CTF 2015
        %h2 Legitimate Business Syndicate
      #scene
        %canvas#actualScene
