!!! 5
%html
  %head
    %title threez
    %link{rel: 'stylesheet', href: 'style.css'}
  %body
    %script{type: 'text/javascript', src: 'jquery-2.1.1.min.js'}
    %script{type: 'text/javascript', src: 'three.min.js'}
    %script{type: 'text/javascript', src: 'ColladaLoader.js'}
    %script{type: 'text/javascript', src: 'demo.js'}
    #scene
      %canvas#actualScene{width: 960, height: 640}
    #main_column
      #title_zone
        %h1 DEF CON Capture the Flag
        %h1 Legitimate Business Syndicate
        %h2#yearText 2015
        %h2#year
      %ul#highlights
        %li 15 Teams
        %li &infin; Players
        %li Starts Thursday
      %nav
        %ul
          %li
            %a{href: 'https://blog.legitbs.net'} Blog
          %li
            %a{href: 'https://twitter.com/legitbs_ctf'} Twitter
          %li
            %a{href: 'https://github.com/legitbs'} GitHub
          %li
            %a{href: 'https://defcon.org'} DEF CON
          %li
            %a{href: '/2013/'} 2013
          %li
            %a{href: '/2014/'} 2014
