@charset "utf-8"

body
  margin: 0
  #main_column
    width: 800px
    margin: 0 auto
    > div
      margin-top: 20px
    #title_zone
      float: left
      width: 240px

    #scene
      float: right
      margin: 20 20px
      canvas
        width: 540px
        height: 640px
