/* @import "bourbon/bourbon"
@import "neat/neat"

@import "branding"

$bigscreen: min-width 1200px
$regscreen: min-width 900px
$smallscreen: max-width 899px

header
  h1
    font-size: 36px
    margin-top: 0
    margin-bottom: 0

section#hero
  display: none

section#details, section#links
  >div
    h1
      margin-bottom: 0
    dl
      dt
        font-family: $display_font
        font-size: 1.5em
        margin-right: 0.5em
      dd
        margin-left: 0
      dd:after
        display: block
        content: ''
      &.inline
        dt
          display: inline-block
        dd
          display: inline

    ul
      list-style-type: none
      padding-left: 0
      li
        a:first-child
          margin-left: 0
    table
      th
        text-align: left
        font-weight: 700

@include media($smallscreen)
  .reg-up
    display: none

@include media($regscreen)
  header
    @include outer-container
    h1
      @include span-columns(6)
      font-size: 24px
      @include media($bigscreen)
        font-size: 36px
      &.orgas
        text-align: right

  section#hero
    $ratio: 480/1200 // yes this is backwards idgaf
    display: block
    @include outer-container
    height: $ratio * 868px
    width: 868px
    @include media($bigscreen)
      height: 480px
      width: 1200px
    canvas
      width: 100%
      height: 100%
      border: 1px solid $mustard

  section#details, section#links
    @include outer-container

  section#details
    div#this-year
      @include span-columns(4)
    div#other-qualifiers
      @include span-columns(8)
  section#links >div
    @include span-columns(4)

  footer
    @include outer-container
    p
      @include span-columns(12)
