!!! 5
%html
  %head
    %title DEF CON CTF 2015
    %link{href: 'index.css', rel: 'stylesheet', type: 'text/css'}
  %body
    #background-grid &nbsp;
    #content
      #splash
        %h1 DEF CON Capture the Flag
        #year 2015
        %h2 Legitimate Business Syndicate
      #teams.gizmo
        .count 15
        .subject
          %h1 Teams
      #players.gizmo
        .count &infin;
        .subject
          %h1 Players
      #days.gizmo
        .count Start
        .subject
          %h1 Thursday
      #cantwait
        %p More information coming in 2015.
        %nav
          %ul
            %li
              %a{href: 'https://blog.legitbs.net'} Blog
            %li
              %a{href: 'https://twitter.com/legitbs_ctf'} Twitter
            %li
              %a{href: 'https://github.com/legitbs'} GitHub
            %li
              %a{href: 'https://defcon.org'} DEF CON
