@import url(http://fonts.googleapis.com/css?family=Rambla:400,700|Michroma);
html {
  background: #090306; }

body, html {
  color: #caa4ff;
  font-family: Rambla;
  transform-style: preserve-3d;
  margin-bottom: 4em; }

a:link, a:visited {
  color: #cb4527;
  text-shadow: 0px 0px 4px black;
  text-decoration: none; }

#background-grid {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2a0044;
  mask: url("dark-grid.png") top left repeat;
  -webkit-mask: url("dark-grid.png") top left repeat;
  z-index: -100;
  -webkit-transform: rotateZ(5deg) scale(2);
  -moz-transform: rotateZ(5deg) scale(2);
  -ms-transform: rotateZ(5deg) scale(2);
  -o-transform: rotateZ(5deg) scale(2);
  transform: rotateZ(5deg) scale(2); }

#content {
  width: 640px;
  margin: 0 auto; }
  #content #splash {
    text-align: center; }
    #content #splash h1 {
      font-size: 34pt; }
    #content #splash h2 {
      font-size: 28pt; }
    #content #splash #year {
      color: #cb4527;
      text-indent: -9999px;
      background-color: #cb4527;
      mask: url("legitbs-2015-text.png") top left /cover;
      -webkit-mask: url("legitbs-2015-text.png") top left /cover;
      width: 260px;
      height: 142px;
      margin: -60px auto; }
  #content .gizmo {
    width: 480px;
    margin: 0 auto;
    position: relative;
    height: 10em; }
    #content .gizmo:after {
      content: " ";
      display: table;
      clear: both; }
    #content .gizmo .count {
      font-size: 6em;
      float: left;
      background-color: #cb4527;
      text-shadow: 0px 0px 8px #cb4527;
      text-indent: -9999px;
      z-index: 1;
      position: absolute;
      margin-right: -0.25em; }
    #content .gizmo#teams .count {
      mask: url("2015-15.png") top left /cover;
      -webkit-mask: url("2015-15.png") top left /cover;
      width: 1.38766em;
      left: 0.70926em; }
    #content .gizmo#players .count {
      mask: url("2015-infinity.png") top left /cover;
      -webkit-mask: url("2015-infinity.png") top left /cover;
      width: 2.04946em;
      left: 0.21291em; }
    #content .gizmo#days .count {
      mask: url("2015-start.png") top left /cover;
      -webkit-mask: url("2015-start.png") top left /cover;
      width: 2.41667em;
      left: -0.0625em; }
    #content .gizmo .subject {
      margin-top: 0.15em;
      z-index: 2;
      font-size: 1.5em;
      position: absolute;
      left: 8em;
      width: 20em;
      top: 0em; }
      #content .gizmo .subject h1 {
        margin-bottom: -0.1em;
        text-shadow: 0px 0px 4px black; }
      #content .gizmo .subject p {
        margin-top: 0; }
  #content #cantwait {
    text-align: center;
    font-size: 1.5em; }
    #content #cantwait h1 {
      margin-bottom: 0; }
    #content #cantwait nav ul {
      list-style-type: none;
      padding: 0; }
      #content #cantwait nav ul li {
        display: inline-block; }
        #content #cantwait nav ul li a:link, #content #cantwait nav ul li a:visited {
          display: inline-block;
          background-color: #caa4ff;
          color: black;
          border: 1px solid #caa4ff;
          border-radius: 4px;
          padding: 2px;
          margin: 2px;
          text-shadow: none; }
        #content #cantwait nav ul li a:hover {
          background-color: #cb4527; }

/*# sourceMappingURL=index.css.map */
