!!! 5
%html
  %head
    %title Legitimate Business Syndicate
    = stylesheet_link_tag 'transit'
    %meta{name: 'viewport', content: 'width=device-width'}
  %body
    %header
      .logo
      %h1 Legitimate Business Syndicate
      %h2 Regional Pwnage Authority

    %section#history
      .inset
        %h2 DEF CON CTF History
        %table
          - %w{2013 2014 2015 2016 2017}.each do |y|
            %tr
              %th= y
              %td
                %a{href: "/#{y}/"} Site
                %a{href: "/statdump_#{y}/"} Quals Stats

    %section#legitbs-links
      %h2 Legit Links
      %ul
        %li
          %a{href: 'https://blog.legitbs.net'} Blog
        %li
          %a{href: 'https://twitter.com/legitbs_ctf'} Twitter
        %li
          %a{href: 'https://github.com/legitbs'} GitHub
    %section#def-con-links
      %h2 DEF CON and CTF
      %ul
        %li
          %a{href: 'https://defcon.org/'} DEF CON
        %li
          %a{href: 'https://www.defcon.org/html/links/dc-ctf.html'}
            DEF CON CTF Archive
        %li
          %a{href: 'https://ctftime.org/'} CTFtime

    %footer
      %p
        &copy; 2012-2019 Legitimate Business Syndicate
