!!!5
%html
  %head
    %title DEF CON CTF 2016
    %link{rel: 'stylesheet', href: 'stylesheets/2016.css'}
  %body
    %section#hero
      %h1 DEF CON CTF 2016
      %h2 Legitimate Business Syndicate
    %section.heady#dates
      .subhead Quals
      .info
        Midnight UTC, May 21, 2016
        %em through
        Midnight UTC, May 23, 2016
      .subhead Finals
      .info
        August 5, 2016
        %em through
        August 7, 2016
    %section.heady#links
      .subhead 2015
      .info
        %a{href: '/2015/'} Site
        %a{href: '/statdump_2015/'} Quals stats
      .subhead 2014
      .info
        %a{href: '/2014/'} Site
        %a{href: '/statdump_2014/'} Quals stats
      .subhead 2013
      .info
        %a{href: '/2013/'} Site
      .subhead Legitimate Business Syndicate
      .info
        %a{href: 'https://blog.legitbs.net'} Blog
        %a{href: 'https://twitter.com/legitbs_ctf'} Twitter
        %a{href: 'https://github.com/legitbs'} GitHub
      .subhead DEF CON and CTF
      .info
        %a{href: 'https://defcon.org'} DEF CON
        %a{href: 'https://www.defcon.org/html/links/dc-ctf.html'} DEF CON CTF Archive
        %a{href: 'https://ctftime.org'} CTFtime
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-38870141-1', 'legitbs.net');
      ga('send', 'pageview');
