!!! 5
%html
  %head
    %title DEF CON CTF 2017
    %link{rel: 'stylesheet', href: 'stylesheets/2017.css'}
    %meta{name: 'viewport', content: 'width=device-width'}
  %body
    %header
      %h1 DEF CON Capture the Flag 2017
      %h2 Legitimate Business Syndicate
    %div#canvas-holder
    %footer
      %p
        &copy; 2012-2017 Legitimate Business Syndicate
    :javascript
      !function(l,e,g,i,t,b,s){l.GoogleAnalyticsObject=g;l[g]||(l[g]=function(){
      (l[g].q=l[g].q||[]).push(arguments)});l[g].l=+new Date;b=e.createElement(i);
      s=e.getElementsByTagName(i)[0];b.src=t;s.parentNode.insertBefore(b,s)}
      (window,document,'ga','script','//www.google-analytics.com/analytics.js');
      ga('create', 'UA-38870141-1', 'legitbs.net');
      ga('send', 'pageview');
