!!!5
%html
  %head
    %title DEF CON CTF 2016
    %link{rel: 'stylesheet', href: 'stylesheets/2016.css'}
    %meta{name: 'viewport', content: 'width=device-width'}
    %link{rel: 'icon', href: '/images/businesscore-64x64.png'}
  %body
    %section#hero
      %h1 DEF CON Capture the Flag 2016
      %h2 Legitimate Business Syndicate
    %section#tagline
      %p
        We build innovative Capture the Flag games that pit hackers from around
        the world against the smartest analog adversaries and computerized
        challengers known.
      %p
        The future of Capture the Flag is now, and it's never been brighter.

    %section#dates
      #quals
        .quote
          .blockquote
            Thanks for the fun! Wish I had more time to solve the tougher
            challenges.
          .cite
            %a{href: 'https://twitter.com/superkojiman/status/600090035065610242'}
              Harold Rodriguez, @superkojiman
        .dates
          %h1 Qualifiers
          %p
            %a{href: '/statdump_2016/'}
              Quals Statistics
          %p.actual_dates
            Midnight UTC, May 21, 2016
            %br
            %em through
            %br
            Midnight UTC, May 23, 2016

      .justquote
        .quote
          .blockquote
            Defcon had some of the evilest, trickiest challenges I've ever faced
            in a CTF. And it was super fun because of it.
          .cite
            %a{href: 'http://capturetheswag.blogspot.com.au/2015/05/defcon-ctf-2015-cat-western-1-point.html'}
              CaptureTheSwag

      #finals
        .dates
          %h1 Finals
          %p
            Witness the top hackers in the world battle it out head-to-head live
            at DEF CON in Las Vegas.
          %p.actual_dates
            August 5, 2016
            %br
            %em through
            %br
            August 7, 2016
        .quote
          .blockquote
            +1 to this - the organizers was fantastic this year. Infrastructure
            was amazingly solid, the room environment was comfortable, and the
            organizers were very open with communication.
          .cite
            %a{href: 'https://www.reddit.com/r/netsec/comments/1k1oh4/we_are_the_plaid_parliament_of_pwning_ask_us/cbkhxa6'}
              rzhou, PPP

    %section#prequals
      #howto
        %h1 Attending Finals
        %p
          DEF CON CTF Finals will be held in the Bally's Event Center / DEF CON
          Contest Area, from August 5 to August 7.
        %p
          Visit the
          %a{href: 'https://defcon.org/html/defcon-24/dc-24-index.html'} DEF CON
          site for more information.
      #contests
        %table
          %thead
            %tr
              %th Contest
              %th Qualifying Team
          %tbody
            %tr
              %td
                %a{href: '/2015'} DEF CON CTF 2015
              %td DEFKOR
            %tr
              %td
                %a{href: 'http://ctf.hitcon.org/'} HITCON CTF
              %td b1o0p
            %tr
              %td
                %a{href: 'https://ructf.org/e/2015/'} RuCTFE
              %td StratumAuhuur
            %tr
              %td
                %a{href: 'https://32c3ctf.ccc.ac/'} 32C3 CTF
              %td pasten
            %tr
              %td
                %a{href: 'http://bostonkeyparty.net/'} Boston Key Party
              %td HITCON
            %tr
              %td
                %a{href: 'https://twitter.com/plaidctf'} PlaidCTF
              %td LC↯BC
            %tr
              %td
                %a{href: 'https://legitbs.net/'} DEF CON CTF 2016 Qualifiers
              %td PPP
            %tr
              %td
                %a{href: 'https://legitbs.net/'} DEF CON CTF 2016 Qualifiers
              %td 侍
            %tr
              %td
                %a{href: 'https://legitbs.net/'} DEF CON CTF 2016 Qualifiers
              %td 9447
            %tr
              %td
                %a{href: 'https://legitbs.net/'} DEF CON CTF 2016 Qualifiers
              %td KaisHack GoN
            %tr
              %td
                %a{href: 'https://legitbs.net/'} DEF CON CTF 2016 Qualifiers
              %td binja
            %tr
              %td
                %a{href: 'https://legitbs.net/'} DEF CON CTF 2016 Qualifiers
              %td Shellphish
            %tr
              %td
                %a{href: 'https://legitbs.net/'} DEF CON CTF 2016 Qualifiers
              %td Dragon Sector
            %tr
              %td
                %a{href: 'https://legitbs.net/'} DEF CON CTF 2016 Qualifiers
              %td !SpamAndHex
            %tr
              %td
                %a{href: 'http://cybergrandchallenge.com/'}
                  DARPA Cyber Grand Challenge
              %td Find out August 4, 2016

    %section#pride
      %p
        Legitimate Business Syndicate is proud to have run some of the most
        well-regarded hacking contests in the world.

    %section#links
      #historic
        .year#y2015
          %h2 2015
          .winner DEFKOR
          .info
            %a{href: '/2015/'} Site
            %a{href: '/statdump_2015/'} Quals stats
        .year#y2014
          %h2 2014
          .winner PPP
          .info
            %a{href: '/2014/'} Site
            %a{href: '/statdump_2014/'} Quals stats
        .year#y2013
          .highlight First year! Wow!
          %h2 2013
          .winner PPP
          .info
            %a{href: '/2013/'} Site
            %a{href: '/statdump_2013/'} Quals stats
      #related
        .orga#legitbs
          %h2 Legitimate Business Syndicate
          .info
            %a{href: 'https://blog.legitbs.net'} Blog
            %a{href: 'https://twitter.com/legitbs_ctf'} Twitter
            %a{href: 'https://github.com/legitbs'} GitHub
        .orga#other
          %h2 DEF CON and CTF
          .info
            %a{href: 'https://defcon.org'} DEF CON
            %a{href: 'https://www.defcon.org/html/links/dc-ctf.html'} DEF CON CTF Archive
            %a{href: 'https://ctftime.org'} CTFtime

    %section#footer
      %p
        %img{src: '/images/businesscore-64x64.png', alt: '#', width: 16, height: 16}
        &copy; 2012-2016 Legitimate Business Syndicate.

    :javascript
      !function(l,e,g,i,t,b,s){l.GoogleAnalyticsObject=g;l[g]||(l[g]=function(){
      (l[g].q=l[g].q||[]).push(arguments)});l[g].l=+new Date;b=e.createElement(i);
      s=e.getElementsByTagName(i)[0];b.src=t;s.parentNode.insertBefore(b,s)}
      (window,document,'ga','script','//www.google-analytics.com/analytics.js');
      ga('create', 'UA-38870141-1', 'legitbs.net');
      ga('send', 'pageview');
