!!!5
%html
  %head
    %title DEF CON CTF 2016
    %link{rel: 'stylesheet', href: 'stylesheets/2016.css'}
  %body
    %section#hero
      %h1 DEF CON CTF 2016
      %h2 Legitimate Business Syndicate
    %section#dates
      %dl
        %dt Quals
        %dd
          Midnight UTC, May 21, 2016
          %em through
          Midnight UTC, May 23, 2016
        %dt Finals
        %dd
          August 5, 2016
          %em through
          August 7, 2016
    %section#links
      %dl
        %dt 2015
        %dd
          %a{href: '/2015/'} Site
          %a{href: '/statdump_2015/'} Stat dump
        %dt 2014
        %dd
          %a{href: '/2014/'} Site
          %a{href: '/statdump_2014/'} Stat dump
        %dt 2013
        %dd
          %a{href: '/2013/'} Site
        %dt Legitimate Business Syndicate
        %dd
          %a{href: 'https://blog.legitbs.net'} Blog
          %a{href: 'https://twitter.com/legitbs_ctf'} Twitter
          %a{href: 'https://github.com/legitbs'} GitHub
        %dt DEF CON and CTF
        %dd
          %a{href: 'https://defcon.org'} DEF CON
          %a{href: 'https://www.defcon.org/html/links/dc-ctf.html'} DEF CON CTF Archive
          %a{href: 'https://ctftime.org'} CTFtime
