!!! 5
%html
  %head
    %title DEF CON CTF 2017
    = stylesheet_link_tag 'all'
    %meta{name: 'viewport', content: 'width=device-width'}
  %body
    .poster
      %header
        %h1.event DEF CON Capture the Flag 2017
        %h1.orgas Legitimate Business Syndicate
      .logosplat
      %section#news
        %h1 Live In Concert
        %p July 28-30, 2017
        %p DEF CON 25
        %p Caesars Palace, Las Vegas
      %section#details
        #blurb
          %h1 Power Cords and Power Chords
          %p
            Don't miss this year's most intense, most wild, and most rockin' CTF
            event. This summer, one show only, experience three epic days of the
            hardest-core hackers on Planet Earth blasting binaries, rocking
            registers, and smashing stacks at the world's biggest hacking
            conference.
        #other-qualifiers
          %h1 Featuring
          %table
            %thead
              %tr
                %th Contest
                %th Qualifying Team

            %tr
              %th
                %a.nobtn{href: 'https://legitbs.net/'} DEF CON CTF
              %td PPP
            %tr
              %th
                %a.nobtn{href: 'https://ructfe.org'} RuCTFE
              %td Eat Sleep Pwn Repeat
            %tr
              %th
                %a.nobtn{href: 'http://ctf.hitcon.org'} HITCON CTF
              %td Cykorkinesis
            %tr
              %th
                %a.nobtn{href: 'https://33c3ctf.ccc.ac/announcements/'} 33C3 CTF
              %td pasten
            %tr
              %th
                %a.nobtn{href: 'http://bostonkey.party'} Boston Key Party
              %td HITCON
            %tr
              %th
                %a.nobtn{href: 'https://ictf.cs.ucsb.edu/index.html'} UCSB iCTF
              %td Bushwhackers
            %tr
              %th
                %a.nobtn{href: 'https://ctf.0ops.net'} 0ctf
              %td TBA June 4, 2017
            %tr
              %th
                %a.nobtn{href: 'https://twitter.com/PlaidCTF'} PlaidCTF
              %td Tea Deliverers
            %tr
              %th
                %a.nobtn{href: 'https://2017.legitbs.net'} DEF CON CTF Qualifiers
              %td Shellphish
            %tr
              %th
                %a.nobtn{href: 'https://2017.legitbs.net'} DEF CON CTF Qualifiers
              %td A*0*E
            %tr
              %th
                %a.nobtn{href: 'https://2017.legitbs.net'} DEF CON CTF Qualifiers
              %td hacking4danbi
            %tr
              %th
                %a.nobtn{href: 'https://2017.legitbs.net'} DEF CON CTF Qualifiers
              %td !SpamAndHex
            %tr
              %th
                %a.nobtn{href: 'https://2017.legitbs.net'} DEF CON CTF Qualifiers
              %td RRR
            %tr
              %th
                %a.nobtn{href: 'https://2017.legitbs.net'} DEF CON CTF Qualifiers
              %td Team Rocket ☠️
            %tr
              %th
                %a.nobtn{href: 'https://2017.legitbs.net'} DEF CON CTF Qualifiers
              %td Lab RATs


    %section#links
      #previous-years
        %h1 Previous Years
        %dl.inline
          - %w{2013 2014 2015 2016}.each do |y|
            %dt= y
            %dd
              %a{href: "/#{y}/"} Site
              %a{href: "/statdump_#{y}/"} Quals Stats
      #legitbs-links
        %h1 Legitimate Business Syndicate
        %ul
          %li
            %a{href: 'https://blog.legitbs.net'} Blog
          %li
            %a{href: 'https://twitter.com/legitbs_ctf'} Twitter
          %li
            %a{href: 'https://github.com/legitbs'} GitHub
      #dcctf-links
        %h1 DEF CON and CTF
        %ul
          %li
            %a{href: 'https://defcon.org/'} DEF CON
          %li
            %a{href: 'https://www.defcon.org/html/links/dc-ctf.html'}
              DEF CON CTF Archive
          %li
            %a{href: 'https://ctftime.org/'} CTFtime

    %footer
      %p
        &copy; 2012-2017 Legitimate Business Syndicate
    :javascript
      !function(l,e,g,i,t,b,s){l.GoogleAnalyticsObject=g;l[g]||(l[g]=function(){
      (l[g].q=l[g].q||[]).push(arguments)});l[g].l=+new Date;b=e.createElement(i);
      s=e.getElementsByTagName(i)[0];b.src=t;s.parentNode.insertBefore(b,s)}
      (window,document,'ga','script','//www.google-analytics.com/analytics.js');
      ga('create', 'UA-38870141-1', 'legitbs.net');
      ga('send', 'pageview');
    %script{type: 'text/javascript', src: 'scene/jquery.min.js'}
